<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Calculator App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
</head>
<body>
    <header>
        <h1>Calculator App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/fluid-dynamics">Fluid Dynamics</a></li>
                <li><a href="/wave-energy">Wave Energy</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>


    <footer>
        <div class="footer-content">
            <div class="quick-links">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/fluid-dynamics">Fluid Dynamics</a></li>
                    <li><a href="/wave-energy">Wave Energy</a></li>
                </ul>
            </div>
            <div class="brand-info">
                <p>© 2024 Calculator App. All rights reserved.</p>
                <p>Email: <a href="mailto:support@calculatorapp.com">support@calculatorapp.com</a></p>
            </div>
        </div>
    </footer>
    

</body>
</html>
